In [2]:
import pandas as pd

In [3]:
absences_df = pd.read_csv('../../data/raw/absences.csv', delimiter='|')
allocations_df = pd.read_csv('../../data/raw/allocations.csv', delimiter='|')
employees_df = pd.read_csv('../../data/raw/employees.csv', delimiter='|')
rounds_df = pd.read_csv('../../data/raw/rounds.csv', delimiter='|')
times_df = pd.read_csv('../../data/raw/times.csv', delimiter='|')

In [4]:
absences_df = absences_df.dropna(subset=['start_date', 'end_date'])

In [5]:
absences_df = pd.concat([pd.DataFrame({'date': pd.date_range(row.start_date, row.end_date),
               'employee_id': row.employee_id,
               'allocation_id': row.allocation_id,
               'id':row.id,
               'reason':row.reason}, columns=['date', 'employee_id', 'allocation_id','id', 'reason']) 
           for i, row in absences_df.iterrows()], ignore_index=True)

In [6]:
absences_df

             date  employee_id allocation_id     id    reason
0      2020-01-17         9827       98044.0  30989  vacation
1      2020-01-18         9827       98044.0  30989  vacation
2      2020-01-17         9827      118649.0  30989  vacation
3      2020-01-18         9827      118649.0  30989  vacation
4      2020-01-20         1366        2679.0  30217  vacation
...           ...          ...           ...    ...       ...
302000 2022-11-29         9521           NaN  60363  vacation
302001 2022-11-30         9521           NaN  60363  vacation
302002 2022-12-01         9521           NaN  60363  vacation
302003 2022-12-02         9521           NaN  60363  vacation
302004 2022-12-03         9521           NaN  60363  vacation

[302005 rows x 5 columns]

In [7]:
absences_df_count = absences_df.drop(columns=['employee_id', 'allocation_id', 'id', 'reason'])
absences_df_count['count'] = 1

In [8]:
absences_df_count.groupby(['date']).sum().reset_index()

           date  count
0    2020-01-02      2
1    2020-01-03      2
2    2020-01-04      2
3    2020-01-15      4
4    2020-01-16      4
...         ...    ...
1452 2024-01-03     51
1453 2024-01-04     45
1454 2024-01-05     32
1455 2024-01-06     21
1456 2024-01-07      3

[1457 rows x 2 columns]

In [9]:
absences_df_count.to_csv('../../data/processed/absences_count.csv', index=False)